<div class="container">
  <div class="main-content">
    <div class="saisi-wrapper">
      <ul class="saisi-container">
        <li class="saisi-container__item" [ngClass]="isValid ? '' : 'invalid'">
          <label for="day" class="text">DAY</label>
          <input
            id="day"
            name=" day"
            type="number"
            placeholder="DD"
            [(ngModel)]="day"
          />
        </li>
        <!--#################-->
        <li class="saisi-container__item" [ngClass]="isValid ? '' : 'invalid'">
          <label for="month" class="text">MONTH</label>
          <input
            id="month"
            type="number"
            placeholder="MM"
            [(ngModel)]="month"
          />
        </li>
        <!--#################-->
        <li class="saisi-container__item" [ngClass]="isValid ? '' : 'invalid'">
          <label for="year" class="text">YEAR</label>
          <input
            id="year"
            type="number"
            placeholder="YYYY"
            [(ngModel)]="year"
          />
        </li>
      </ul>
      <div class="errorMessage" *ngIf="errorMessage && !isValid">
        {{ errorMessage }}
      </div>
    </div>
    <ul class="btn-container">
      <li class="btn-container__ligne"></li>
      <li class="btn-container__btn" (click)="calculateAge()">
        <svg width="46" height="44" viewBox="0 0 46 44">
          <g fill="none" stroke="#FFF" stroke-width="2">
            <path
              d="M1 22.019C8.333 21.686 23 25.616 23 44M23 44V0M45 22.019C37.667 21.686 23 25.616 23 44"
            />
          </g>
        </svg>
      </li>
    </ul>
    <ul class="resultats">
      <li class="resultats__item">
        <span *ngIf="ageYears == null || ageYears == undefined">--</span
        ><span>{{ ageYears }}</span
        ><span>years</span>
      </li>
      <li class="resultats__item">
        <span *ngIf="ageMonths == ageMonths && ageMonths == undefined">--</span
        ><span>{{ ageMonths }}</span
        ><span>months</span>
      </li>
      <li class="resultats__item">
        <span *ngIf="ageDays == null && ageDays == undefined">--</span
        ><span>{{ ageDays }}</span
        ><span>days</span>
      </li>
    </ul>
  </div>
</div>
